@charset "utf-8";

@import "./reset.css";

#wrap{
  width: 640px;
  margin: 0 auto;
  border: 1px solid #000;

  >header{
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    height: 30px;
    margin-bottom: 15px;
  
    >h1{
      position: absolute;
      left: 5px;
      top: 0;
      font-size: 20px;
    }
  
    >h2{
      position: absolute;
      left: 50px;
      top: 0;
      font-size: 20px;
    }

    ul.top4{
      display: flex;
      flex-flow: row nowrap;
      position: absolute;
      right: 5px;
      top: 0;

      >li{
        width: 30px;
        height: 30px;
        margin-right: 10px;
        // border: 1px solid #000;

        >a{
          display: block;
          text-indent: -9999px;
        }
      }

      >li.alarm{
        background-image: url(./../images/알람시계.png);
        background-position: center center;
        background-repeat: no-repeat;
      }

      >li.wifi{
        width: 30px;
        background-image: url(./../images/와이파이.png);
        background-position: center center;
        background-repeat: no-repeat;
      }

      >li.hundred{
        width: 30px;
        background-image: url(./../images/100퍼센트.png);
        background-position: center center;
        background-repeat: no-repeat;
      }

      >li.battery{
        margin-right: 0;
        background-image: url(./../images/배터리.png);
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }//header

  section.top{
    position: relative;
    width: 100%;
    height: 80px;
    margin-bottom: 60px;

    >h2{
      margin-left: 5px;
    }

    >ul.ul-1{
      display: flex;
      flex-flow: row nowrap;
      position: absolute;
      right: 5px;
      top: 0;

      >li{
        width: 30px;
        margin-right: 10px;

        >a{
          display: block;
          height: 30px;
          text-indent: -9999px;
        }
      }

      >li:nth-of-type(1){
        background-image: url(./../images/돋보기.png);
        background-position: center center;
        background-repeat: no-repeat;

        a:hover{
        background-image: url(./../images/돋보기.gif);
        }
      }

      >li:nth-of-type(2){
        background-image: url(./../images/친구추가.png);
        background-position: center center;
        background-repeat: no-repeat;

        >a:hover{
          background-image: url(./../images/친구추가\ 호버.gif);
        }
      }
    }//ul

    >ul.myprofile{
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      height: 80px;
      margin-top: 10px;
    //   border: 1px solid #000;

      >li{
        width: 50px;

        >a{
          display: block;
          height: 30px;
        }
      }

      >li:nth-of-type(1){
        position: absolute;
        left: 5px;
        top: 50px;
        border: 1px solid #000;
        border-radius: 20%;

        >a{
          text-indent: -9999px;
          height: 50px;
        }
      }

      >li:nth-of-type(2){
        position: absolute;
        left: 65px;
        top: 60px;
        font-weight: 600;
        font-size: 15px;
      }

      >li:nth-of-type(3){
        position: absolute;
        left: 65px;
        top: 80px;
        width: 500px;
      }
    }//ul.myprofile

    >ul.myprofile:hover{
      background-color: #dbe4ea;
    }
  }//section.top

  >section.middle-1{
    position: relative;
    margin-bottom: 100px;

    >h2.title{
      margin-left: 5px;
      margin-bottom: 10px;
      font-size: 12px;
    }

    >ul{
        display: flex;
        flex-flow: row nowrap;
        // border: 1px solid #000;

      >li{
        >a{
          display: block;
          height: 35px;
        }
      }

      >li:nth-of-type(1){
        position: absolute;
        left: 5px;
        top: 30px;
        background-image: url(./../images/케이크-big.png);
        background-position: center center;
        background-repeat: no-repeat;

        >a{
            width: 50px;
            height: 60px;
            text-indent: -9999px;
        }
      }

      >li:nth-of-type(2){
        position: absolute;
        left: 70px;
        top: 30px;
        font-weight: 600;
        font-size: 15px;

        >a{
            height: 60px;
            line-height: 60px;
        }
      }
    }
  }//section.middle-1

  >section.middle-2{
    // position: relative;
    margin-left: 5px;
    margin-bottom: 30px;

    >h2.title{
      margin-bottom: 10px;
      font-size: 12px;
    }

    >ul.bookmark-1{
      position: relative;
      display: flex;
      flex-flow: row nowrap;

      >li{
        margin-bottom: 10px;

        >a{
         display: block;
         height: 50px;
        }
      }

      >li:nth-child(1){
        width: 40px;
        height: 40px;
        border: 1px solid #000;
        border-radius: 20%;

        >a{
          text-indent: -9999px;
        }
      }

      >li:nth-child(2){
        position: absolute;
        left: 50px;
        top: 5px;
        font-weight: 500;
      }

      >li:nth-child(3){
        position: absolute;
        left: 50px;
        top: 23px;
        font-size: 12px;
      }
    }//ul.bookmark-1

    >ul.bookmark-2{
      position: relative;
      display: flex;
      flex-flow: row nowrap;
  
        >li{
          margin-bottom: 10px;
  
          >a{
           display: block;
           height: 50px;
          }
        }
  
        >li:nth-child(1){
          width: 40px;
          height: 40px;
          border: 1px solid #000;
          border-radius: 20%;
  
          >a{
            text-indent: -9999px;
          }
        }
  
        >li:nth-child(2){
          position: absolute;
          left: 50px;
          top: 5px;
          font-weight: 500;
        }
  
        >li:nth-child(3){
          position: absolute;
          left: 50px;
          top: 23px;
          font-size: 12px;
        }
    }//ul.bookmark-2

    >ul.bookmark-3{
      position: relative;
      display: flex;
      flex-flow: row nowrap;
  
        >li{
          margin-bottom: 10px;
  
          >a{
           display: block;
           height: 50px;
          }
        }
  
        >li:nth-child(1){
          width: 40px;
          height: 40px;
          border: 1px solid #000;
          border-radius: 20%;
  
          >a{
            text-indent: -9999px;
          }
        }
  
        >li:nth-child(2){
          position: absolute;
          left: 50px;
          top: 5px;
          font-weight: 500;
        }
  
        >li:nth-child(3){
          position: absolute;
          left: 50px;
          top: 23px;
          font-size: 12px;
        }
    }//ul.bookmark-3
  }//section.middle-2

  >section.bottom{

    >h2{
        display: none;
    }

    nav{
        
      >ul.icon{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        width: 100%;
        padding-top: 10px;
        border-top: 1px solid #dddada;

        >li{
          width: 25%;  
          
          >a{
            display: block;
            height: 40px;
          }
        }

        >li:nth-child(1){
          background-image: url(./../images/친구-카톡하단바.png);
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;

          >a{
            text-indent: -9999px;
          }
        }

        >li:nth-child(2){
          background-image: url(./../images/말풍선-카톡하단바.png);
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;

          >a{
            text-indent: -9999px;
          }
        }

        >li:nth-child(3){
          background-image: url(./../images/돋보기-카톡하단바.png);
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;

          >a{
            text-indent: -9999px;
          }
        }

        >li:nth-child(4){
          background-image: url(./../images/설정-카톡하단바.png);
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;

          >a{
            text-indent: -9999px;
          }
        }
      }//ul.icon

      >ul.iconName{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;

        >li{
            width: 25%;
          >a{
            display: block;
            height: 20px;
            font-weight: 500;
            text-align: center;
          }
        }
      }


    }//nav
  }//section.bottom

  >footer{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #eee;

    >ul{
      display: flex;
      flex-flow: row nowrap;
      height: 100%;

      >li{
        width: 33%;

        >a{
          display: block;
          height: 100%;
          text-indent: -9999px;
        }
      }

      >li:nth-of-type(1){
        background-image: url(./../images/최근앱버튼.png);
        background-position: center center;
        background-repeat: no-repeat;
      }
      >li:nth-of-type(2){
        width: 34%;
        background-image: url(./../images/홈버튼.png);
        background-position: center center;
        background-repeat: no-repeat;
      }
      >li:nth-of-type(3){
        background-image: url(./../images/뒤로가기-하단.png);
        background-position: center center;
        background-repeat: no-repeat;
      }
    }//ul
  }//footer
}//#wrap


